{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}
<div>
    <header class="header1">
        

    </header>

    <section class="section1">
        <h1 class="top_heading">
            OMEGA SCANNER
        </h1>
    </section>
    <nav class="nav1">
        
    </nav>
    <main class="main1">
        <button class="button" onclick="document.location='scan'">START
            <!-- <a class="startbutton"  href="/scan" > START</a> -->
        </button>


    </main>
    <footer class="footer1">

        
    </footer>
</div>
{% endblock %}