{% extends 'base.html' %}


{% block head %}




{% endblock %}



{% block body %}
<div>

    
    <header class="header2"> 

    </header>
    <nav class="nav2">


    </nav>

    <main class="main2">
    <h1 class="head2">CHOOSE TYPE OF SCAN</h1>
        <form>
            
            <a href="whois" class="button">WHO IS Lookup</a>
            <a href="googledork" class="button">Google Dorks</a>
            <a href="both" class="button">Both Scans</a>



        </form>

    </main>
    <section class="section2">


    </section>
    <footer>


    </footer>


</div>      

{% endblock %}